body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
}

p {
  color: ;
}
h1 {
	color: black;
	font-size: 40px;
}
h2 {
	font-size: 50px}
html {
	background-color: white;
	padding: 50px
}
a {
	color: black;
}

